.idea/*
.DS_Store
.jekyll-metadata
npm-debug.log
nbproject/*
node_modules/*
.ruby-version
.vscode/*
.vendor/*
vendor/*
package-lock.json

### General ###
*.lock

### Jekyll ###
_site/*

### Sass ###
_sass/.sass-cache/*
css/main.css

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
