---
layout: default
title: Session Table
permalink: /session-table/
image: cod.png
---
{% include top-section.html %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<style>
  .speaker-block {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 1em;
    padding-left: .5em;
    padding-right: .5em;
  }
  table {
    font-size: 1.5em;
    height: 80%;
  }
  tbody tr {
    border-bottom: 1px solid #ccc;
  }
  td,th { 
    vertical-align: top;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: left;
    padding-left: 1em;
  }
  th {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
</style>

<section id="session-table" class="session-table">
  <div class="content-wrapper">
<div class="container" style="height: 80%">
  <!-- List.js: Child elements of container with class="list" becomes list items -->
  <table id="sessions-list" class="list table table-striped">
    <thead>
      <tr><td colspan="3"><input class="search" placeholder="Search sessions" /></td></tr>
      <tr>
        <th>Session Title</th>
        <th>Type</th>
        <th>Presenters</th>
      </tr>
    </thead>
    <tbody class="list">


    <!-- sessions -->
    {% for session in site.data.sessions %}

    {% assign speakers = "" %}
    {% for speaker in site.data.speakers %}
      {% for session_speakerID in session.speakers %}
        {% if session_speakerID == speaker.id %}
          {% assign speakers = speakers | append: '<span class="speaker-block"><span class="speaker-name">' | append: speaker.name | append: ' ' | append: speaker.surname | append: ' ' | append:'</span>' | append: ' <span class="speaker-org">(' | append: speaker.company | append: ')</span></span> ' %}
          {% endif %}
      {% endfor %}
    {% endfor %}

    <tr>
      <td class="title">{{session.title}}</td>
      <td class="type">{{session.subtype}}</td>
      <td class="presenters">{{speakers}}</td>
      <td class="description" style="display: none">{{session.description}}</td>
    </tr>
    {% endfor %}

    <!-- posters -->
    {% for session in site.posts %}
      {% assign speakers = "" %}
      {% for person in session.presenters %}
        {% assign speakers = speakers | append: '<span class="speaker-block"><span class="speaker-name">' | append: person.name | append: ' ' | append:'</span>' | append: ' <span class="speaker-org">(' | append: person.institution | append: ')</span></span> ' %}
      {% endfor %}
    <tr>
      <td class="title">{{session.title}}</td>
        <td class="type">poster</td>
        <td class="presenters">{{speakers}}</td>
        <td class="description" style="display: none">{{session.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
</div>

</div>
</section>

<script>
  var options = {
    valueNames: ['title', 'type', 'presenters', 'description'],
  };

  var userList = new List('sessions-list', options);
</script>
