<!-- Begin Poster: a single poster -->
<section id="poster-section" class="poster-section">
  <div class="content-wrapper text-left">
    <div class="col-md-10 col-sm-10 col-lg-offset-1 col-md-offset-1 col-sm-offset-0">
      <div class="col-lg-8 col-md-10 col-xs-12">
        <article class="row poster">
          <!-- Starting here, reuse this code in _includes/posters-modal.html -->
          <div class="poster-body">
            <div class="poster-title">
              <h2>{{ page.title }}</h2>
              <hr />
            </div>
            <div class="poster-presenter">
              <h3>Presented by</h3>
              <ul>
                {% if page.presenters %} {% for person in page.presenters %}
                <li>{{ person.name }} {% if person.institution %} ({{ person.institution }}) {% endif %}</li>
                {% capture bio %}<p class="individual-bio">{{ person.bio}}</p>{% endcapture %} {% assign bios = bios | append: bio %} {% endfor %}
                {% endif %}
              </ul>
            </div>
            <div class="poster-description">
              <h3>Description</h3>
              <p>{{ page.description }}</p>
            </div>
            <div class="poster-video">
              <h3>Poster</h3>
              <div class="theme-video embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ page.video }}"></iframe>
              </div>
            </div>
            <div class="poster-presenter-about">
              <h3>About</h3>
              <p>{{ bios }}</p>
            </div>
          </div>
          <!-- Ending here, reuse this code in _includes/posters-modal.html -->
          <div id="page-navigation" class="page-navigation">
            <div class="next col-xs-6">
              {% if page.next.url %}
              <a href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title | strip_html }}">&laquo; {{page.next.title | strip_html | truncate: 25 }}</a>
              {% endif %}
            </div>
            <div class="previous col-xs-6 text-right">
              {% if page.previous.url %}
              <a href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title | strip_html }}">{{page.previous.title | strip_html | truncate: 25 }} &raquo;</a>
              {% endif %}
            </div>
          </div>
          {% if include.isStaticPost == false %}
          <div class="comments">
            {% if site.postersCommentsEnabled %} {% include disqus-comments.html %} {% endif %}
          </div>
          {% endif %}
        </article>
      </div>
      <div class="col-lg-3 col-lg-offset-1 col-md-2 col-xs-12" id="poster-sponsors">
        {% include sponsors-per-session.html sessionType='Posters' %}
      </div>
    </div>
  </div>
</section>
<!-- End Poster -->
