<!-- Begin Preconference Location Section -->
<section id="hackathon-location" class="hackathon-location">
    <div id="canvas-map" class="canvas-map"></div>
    <div class="content-wrapper">
        <div class="col-lg-3 col-md-4 col-sm-6 animated hiding location-description text-left" data-animation="fadeInLeft" data-delay="0">
            {% if site.preconferenceLocationName %}
            <h5 class="location-name">{{ site.preconferenceLocationName }}</h5>
            {% endif %}
        <p class="location-address">{{ site.preconferenceStreetAddress }}, {{ site.preconferenceAddressLocality }}</p>
            <div class="hackathon-time">
                <span>{{ site.preconferenceTimeTitle }}</span>
                {% assign startTime = site.preconferenceStartTime | split: "T" %}
                <time>{{ startTime[1] }}</time> -
                {% assign endTime = site.preconferenceEndTime | split: "T" %}
                <time>{{ endTime[1] }}</time>
            </div>
            <a href="https://maps.google.com/maps?ll={{ site.preconferencePlaceCoordinates | replace:' ',''}}&z=17&t=m&hl=en-US&gl=US&mapclient=embed&q={{ site.preconferenceStreetAddress | replace:' ','%20' | replace:',','%2C'}}%2C%20{{ site.preconferenceAddressLocality | replace:' ','%20' | replace:',','%2C'}}" class="view-on-map" target="_blank">{{ site.viewOnMap }}</a>
        </div>
    </div>
</section>
<!-- End Preconference Location Section -->