<!-- Begin session-search Section -->
<script
  src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


<section id="session-search" class="session-search">
  <div class="content-wrapper">
    <div class="container">
      <!-- List.js: Child elements of container with class="list" becomes list items -->
      <table id="sessions-list" class="list table-hover"
        summary="This table shows the list of sessions and possters to be presented at the conference. Columns show the Session Title, Session Type, and Presenter Names and Institutions">
        <thead>
          <tr>
            <td colspan="3">
              <a href="/schedule" class="btn btn-primary ml-3 mt-3">Switch to
                Schedule View</a>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <div class="row" id="filter-row">
                <span class="col-md-3">
                  <label class="sr-only" aria-label="search-sessions">Search
                    sessions (including session description)</label>
                  <input aria-labelledby="search-sessions"
                    class="search form-control"
                    placeholder="Search sessions (including description)" />
                </span>
                <span class="col-md-9">
                  <span id="filters"></span>
                </span>
              </div>
            </td>
          </tr>
          <tr>
            <th scope="col" class="thirty">Session Title</th>
            <th scope="col" class="fifteen">Type</th>
            <th scope="col">Presenters</th>
          </tr>
        </thead>
        <tbody class="list">
          <!-- sessions -->
          {% for session in site.data.sessions %} {% assign speakers = "" %} {%
          for speaker in site.data.speakers %} {% for session_speakerID in
          session.speakers %} {% if session_speakerID == speaker.id %}
          {% assign speakers = speakers |
            append: '<div class="speaker-block"><div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/'  | append: speaker.thumbnailUrl |append:')"></div> 
            <p class="speaker-name"><span class="name-only">' | append: speaker.name | append: ' ' | append: speaker.surname | append: '</span><span class="speaker-position">' | append: speaker.company | append: '</span
              ></p></div>
            ' %}

          {% endif %} {% endfor %} {% endfor %}

          <tr id="session-{{session.id}}" class="slot" data-toggle="modal"
            data-target="#sessionDetail-{{session.id}}">
            <td class="title">{{session.title}}</td>
            <td class="type">{{session.subtype}}</td>
            <td class="presenters schedule">{{speakers}}</td>
            <td class="description" style="display: none;">
              {{session.description}}
            </td>
            <td class="speaker-org" style="display:none">
              {{ speaker.company }}
              </span>
          </tr>
          {% endfor %}

          <!-- posters -->
          {% for session in site.posts %} {% assign speakers = "" %}


          {% if session.speaker-data %}
          {% comment %}
          Using speaker-data is the new way
          {% endcomment %}
          {% for id in session.speaker-data %}
          {% assign this-person = site.data.speakers | where: 'id', id %}
          {% assign speakers = speakers |
            append: '<div class="speaker-block"><div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/'  | append: this-person[0].thumbnailUrl |append:')"></div> 
            <p class="speaker-name"><span class="name-only">' | append: this-person[0].name | append: ' ' | append: this-person[0].surname | append: '</span><span class="speaker-position">' | append: this-person[0].company | append: '</span
              ></p></div>
            ' %}

          {% endfor %}
          {% else %}
          {% for
            person in session.presenters %} {% assign speakers = speakers |
            append: '<div class="speaker-block poster-speaker"><!--div class="speaker-img flow-img img-circle" style="background-image: url(/img/people/)"></div---> 
            <p class="speaker-name"><span class="name-only">' | append: person.name | append: '</span><span class="speaker-position">' | append: person.institution | append: '</span
              >' | append: '
            </div></div>
            ' %}
          {% endfor %}
          {% endif %}


          <tr id="poster-{{session.id | remove: '/'}}" class="slot"
            data-toggle="modal"
            data-target="#posterDetail-{{session.id | remove: '/'}}">
            <td class="title">{{session.title}}</td>
            <td class="type">poster</td>
            <td class="presenters schedule">{{speakers}}</td>
            <td class="description" style="display: none;">
              {{session.description}}
            </td>
            <span class="speaker-org" style="display: none;">
              {{person.institution}}
            </span>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  var options = {
    valueNames: ['title', 'type', 'presenters', 'description'],
  };

  var listObj = new List('sessions-list', options);
</script>

<!-- End session-search Section -->