<!-- Begin Sessions Modals -->
<div class="modals">
	{% for session in site.data.sessions %}
	<div class="modal fade text-left people-modal"
		id="sessionDetail-{{ session.id }}" tabindex="-1" role="dialog"
		aria-labelledby="sessionDetailLabel-{{ session.id }}"
		aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="close">
						<svg class="icon icon-cross" viewBox="0 0 32 32">
							<use
								xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-cross">
							</use>
						</svg>
						<div class="close-mask" data-dismiss="modal"></div>
					</div>
					<h4>{{ session.title }}</h4>
					{% if session.language != null %}
					<span class="theme-metadata"><span class="caption">Language:
						</span>{{ session.language }}</span>
					{% endif %}
					{% if session.complexity != null %}
					<span class="theme-metadata"><span
							class="caption">Complexity:
						</span>{{ session.complexity }}</span>
					{% endif %}
					{% if site.showSessions == true and session.video %}
					<div
						class="theme-video embed-responsive embed-responsive-16by9">
						<iframe loading="lazy" class="lazyload embed-responsive-item"
							{% include allow-fullscreen.html %}
							data-src="{{ session.video }}?rel=0"></iframe>
					</div>
					{% endif %}
					<p class="theme-description">{{ session.description }}</p>
					{% if session.subtype == 'session' %}
					<div class="row survey-row">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<a href="{{ site.sessionFeedbackForm }}&{{ site.sessionFeedbackParameter }}={{ session.title | url_encode }}"
								class="survey-button btn"
								target="_blank"
								aria-label="Complete the survey for {{ session.title }}}">{{session.subtype | capitalize }}
								Feedback</a>
						</div>
					</div>
					{% elsif session.subtype == 'keynote' %}
					<div class="row survey-row">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<a href="{{ site.keynoteFeedbackForm }}"
								class="survey-button btn"
								target="_blank"
								aria-label="Complete the survey for {{ session.title }}}">{{session.subtype | capitalize }}
								Feedback</a>
						</div>
					</div>
					{% elsif session.subtype == 'preconference' %}
					<div class="row survey-row">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<a href="{{ site.preconferenceFeedbackForm }}"
								class="survey-button btn"
								target="_blank"
								aria-label="Complete the survey for {{ session.title }}}">{{session.subtype | capitalize }}
								Feedback</a>
						</div>
					</div>
					{% elsif session.subtype == 'workshop' %}
					<div class="row survey-row">
						<div class="col-md-4"></div>
						<div class="col-md-8">
							<a href="{{ site.preconferenceWorkshopFeedbackForm }}"
								class="survey-button btn"
								target="_blank"
								aria-label="Complete the survey for {{ session.title }}}">{{session.subtype | capitalize }}
								Feedback</a>
						</div>
					</div>
					{% endif %}
					<div class="row qa-row">
						<div class="col-md-4">
							{% if session.handouts and site.showSessions == true %}
							<div class="theme-handouts">{{ session.subtype }}
								Handouts</div>
							<ul class="handouts-list">
								{% for doc in session.handouts %}
								{% if doc.filename %}
								<li><a
										href="/handouts/{{doc.filename}}">{{ doc.title }}</a>
								</li>
								{% elsif doc.url %}
								<li><a href="{{doc.url}}">{{ doc.title }}</a>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
							{% endif %}
						</div>
						<div class="col-md-8 qa-info">
							{% if session.live-stream-link and session.live-stream-type and site.showSessions %}
							{% if session.live-stream-type == 'q&a' or session.live-stream-type == 'Q&A' %}
							<div class="qa-button">
								<a href="{{ session.live-stream-link }}"
									target="_blank"
									class="btn btn-danger">Launch
									{{ session.live-stream-type | upcase }}</a>
							</div>
							<div class="qa-time">
								{{ session.live-stream-type | upcase }} starts:
								{{ session.live-stream-time | date: "%b %d %I:%M %p" }}
							</div>
							{% else %}
							<div class="qa-button">
								<a href="{{ session.live-stream-link }}"
									target="_blank"
									class="btn btn-danger">Launch
									{{ session.live-stream-type | capitalize }}</a>
							</div>
							{% endif %}
							{% endif %}
						</div>
					</div>
					<hr>
					<div class="people-details">
						{% for speaker in site.data.speakers %}
						{% for session_speaker in session.speakers %}
						{% if session_speaker == speaker.id %}
						{% include modal-speaker-info.html speaker=session_speaker %}
						{% endif %}
						{% endfor %}
						{% endfor %}
					</div>
					<div id="session-sponsors" class="modal-sponsors">
						{% if session.subtype == "keynote" %}
						{% assign sponsorType = "Keynote" %}
						{% include sponsors-per-session.html sessionType=sponsorType %}
						{% elsif session.subtype == "session" %}
						{% assign sponsorType = "Sessions" %}
						{% include sponsors-per-session.html sessionType=sponsorType %}
						{% elsif session.subtype == "social" %}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<!-- End Speakers Modals -->
