<!-- Begin Session-Table Section -->
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

<style>
  .speaker-block {
    background-color: #efefef;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
    margin-right: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  table {
    font-size: 1.5em;
  }
  tbody tr {
    border-bottom: 1px solid #ccc;
  }
  td,
  th {
    vertical-align: top;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: left;
    padding-left: 1em;
  }
  th {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
  }
  #filters input,
  #filters select {
    margin: 0.5em;
  }
</style>

<section id="session-table" class="session-table">
  <div class="content-wrapper">
    <div class="container">
      <!-- List.js: Child elements of container with class="list" becomes list items -->
      <table id="sessions-list" class="list">
        <thead>
          <tr>
            <td colspan="3">
              <input class="search" placeholder="Search sessions" />
              <span id="filters"></span>
            </td>
          </tr>
          <tr>
            <th>Session Title</th>
            <th>Type</th>
            <th>Presenters</th>
          </tr>
        </thead>
        <tbody class="list">
          <!-- sessions -->
          {% for session in site.data.sessions %} {% assign speakers = "" %} {%
          for speaker in site.data.speakers %} {% for session_speakerID in
          session.speakers %} {% if session_speakerID == speaker.id %} {% assign
          speakers = speakers | append: '<span class="speaker-block"
            ><span class="speaker-name"
              >' | append: speaker.name | append: ' ' | append: speaker.surname
              | append: ' ' | append:'</span
            >' | append: '
            <span class="speaker-org"
              >(' | append: speaker.company | append: ')</span
            ></span
          >
          ' %} {% endif %} {% endfor %} {% endfor %}

          <tr
            id="session-{{session.id}}"
            class="slot"
            data-toggle="modal"
            data-target="#sessionDetail-{{session.id}}"
          >
            <td class="title">{{session.title}}</td>
            <td class="type">{{session.subtype}}</td>
            <td class="presenters">{{speakers}}</td>
            <td class="description" style="display: none;">
              {{session.description}}
            </td>
          </tr>
          {% endfor %}

          <!-- posters -->
          {% for session in site.posts %} {% assign speakers = "" %} {% for
          person in session.presenters %} {% assign speakers = speakers |
          append: '<span class="speaker-block"
            ><span class="speaker-name"
              >' | append: person.name | append: ' ' | append:'</span
            >' | append: '
            <span class="speaker-org"
              >(' | append: person.institution | append: ')</span
            ></span
          >
          ' %} {% endfor %}
          <tr>
            <td class="title">{{session.title}}</td>
            <td class="type">poster</td>
            <td class="presenters">{{speakers}}</td>
            <td class="description" style="display: none;">
              {{session.description}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>

<script>
  var options = {
    valueNames: ['title', 'type', 'presenters', 'description'],
  };

  var listObj = new List('sessions-list', options);
</script>

<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"
></script>
<script>
  $(document).ready(function () {
    /*
      define variables to generate filter selects:
       containerClass = the html class of the text to be listed as options in the filter "needle" list
       filterID = the haystack-field name to search with list.js (often same as containerClass)
       filterLabel = how to name the filter in its pulldown
    */
    filterList = [
      {
        containerClass: 'speaker-name',
        filterID: 'presenters',
        filterLabel: 'Presenter',
      },
      {
        containerClass: 'type',
        filterID: 'type',
        filterLabel: 'Session Type',
      },
    ];

    /*
        foreach filter in filterList, create a filter pulldown and place it in the table #filter div
      */
    filterList.forEach(function (f) {
      var arr = [];
      $('.' + f.containerClass).each(function (item) {
        let name = $(this).text();
        if (!arr.includes(name)) {
          arr.push(name);
        }
      });
      arr.sort();
      console.log(arr);

      $('#filters').append(
        '<select id="' +
          f.filterID +
          '"><option value="">---Select by ' +
          f.filterLabel +
          '---</option></select>'
      );
      arr.forEach((element) => {
        $('#' + f.filterID).append('<option>' + element + '</option>');
      });

      /*
        now that the filter pulldown is built, bind it to the filter action onChange
      */

      $('#' + f.filterID).change(function (event) {
        let thisFilter = $(this).attr('id');
        $('#filters select').each(function (index) {
          if ($(this).attr('id') != thisFilter) {
            /* foreach filter other than the active one, reset it if previously used */
            $(this).val('');
          }
        });
        let filterTerm = $(this).val();
        console.log('Selected ' + f.filterID + ':', filterTerm);
        listObj.filter(function (item) {
          if (item.values()[f.filterID].includes(filterTerm)) {
            return true;
          } else {
            return false;
          }
        });
      });
    });
  });
</script>
<!-- End Session-Table Section -->
