<!-- Begin Speakers List 2-->
<section id="speakers">
    <div class="content-wrapper">
        <h2>Extra Header</h2>
        <h2>Featured Speakers</h2>
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
                {% assign sorted_speakers = (site.data.speakers | where: "rockstar", "true" | sort: "surname") %}
                {% for speaker in sorted_speakers %}
                {% include speaker-div.html %}
                {% endfor %}
            </div>
        </div>
        <h2>Additional Speakers</h2>
        <div class="col-lg-10 col-lg-offset-1 appear-animation-trigger">
            {% assign sorted_speakers = (site.data.speakers | where: "rockstar", "false" | sort: "surname") %}
            {% for speaker in sorted_speakers %}
            {% include speaker-div.html %}
            {% endfor %}
        </div>
        {% if site.c4speakersEnable == true %}
        <a href="{{ site.c4pUrl }}"
            class="bottom-section-link btn btn-primary waves-effect waves-button waves-light waves-float"
            target="_blank">{{ site.speakersC4pButton }}</a>
        {% endif %}
    </div>
</section>
<!-- End Speakers List 2 -->