<!-- Individual Session Sponsors -->
{% if session.sponsor %}
{% assign sponsor = session.sponsor %}
{% endif %}
{% if page.sponsor %}
{% assign sponsor = page.sponsor %}
{% endif %}

{% if sponsor %}
<div class="sponsorGroupWrapper">
  <div class="sponsors h3">{{ sponsor.group }}</div>
  <ul class="list-inline">
    {% for element in sponsor.elements %}
    <li>
      <a href="{{ element.link }}" target="_blank">
        <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}"
          loading="lazy"
             title="{{ element.description }}" alt="{{ element.name }}"
          style="width:100%" />
      </a>
      {% if element.video %}
      <div class="sponsors video-container">
        <div class="sponsors video-modals">
          <a href="{{ element.video }}"
            aria-label='Sponsor video for {{ element.name }}'>
            <i class="fa fa-youtube-play fa-lg sponsors video-link"></i>
          </a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}

<!-- Gold and Sessions Sponsors -->
<div class="row">
  {% for sponsor in site.data.sponsors %}
  {% if sponsor.group == 'Gold' or sponsor.group == include.sessionType %}
  <div class="sponsorGroupWrapper">
    <div class="sponsors h3">{{ sponsor.group }} Sponsors</div>
    <ul class="list-inline">
      {% for element in sponsor.elements %}
      <li>
        <a href="{{ element.link }}" target="_blank">
          <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}"
            title="{{ element.description }}" alt="{{ element.name }}"
            style="width:100%" />
        </a>
        {% if element.video %}
        <div class="sponsors video-container">
          <div class="sponsors video-modals">
            <a href="{{ element.video }}"
              aria-label='Sponsor video for {{ element.name }}'>
              <i class="fa fa-youtube-play fa-lg sponsors video-link"></i>
            </a>
          </div>
        </div>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}

<!-- Additional Support -->

  {% if session.additional_support or include.additional_support != nil %}
  {% for sponsor in site.data.sponsors %}
  {% if sponsor.group == 'Additional Support' %}
  <div class="sponsorGroupWrapper">
    <div class="sponsors h3">{{ sponsor.group }}</div>
    <ul class="list-inline">
      {% for element in sponsor.elements %}
      {% if element.name == session.additional_support or element.name == include.additional_support %}
      <li>
        <a href="{{ element.link }}" target="_blank">
          <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}"
            loading="lazy"
               title="{{ element.description }}" alt="{{ element.name }}"
            style="width:100%" />
        </a>
        {% if element.video %}
        <div class="sponsors video-container">
          <div class="sponsors video-modals">
            <a href="{{ element.video }}"
              aria-label='Sponsor video for {{ element.name }}'>
              <i class="fa fa-youtube-play fa-lg sponsors video-link"></i>
            </a>
          </div>
        </div>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}

</div>
