<style>
  .sponsorGroupWrapper li {
    padding-right: 20%;
    margin-bottom: 1rem;
  }

  .sponsorGroupWrapper .h3 {
    border-bottom: 1px solid #757575;
  }
</style>
<div class="row">
  {% for sponsor in site.data.sponsors %}
  {% if sponsor.group == 'Gold' or sponsor.group == include.sessionType %}
  <div class="sponsorGroupWrapper">
    <div class="h3">{{ sponsor.group }} Sponsors</div>
    <ul class="list-inline">
      {% for element in sponsor.elements %}
      <li>
        <a href="{{ element.link }}" target="_blank">
          <img src="{{ site.baseurl }}/img/sponsors/{{ element.imageUrl }}"
            title="{{ element.description }}" alt="{{ element.name }}"
            style="width:100%" />
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endfor %}
</div>