#awards {
    .award-title {
        margin-top: 1em;
        font-weight: 300;
        clear: left;
    }
    .award-description {

    }
    .winner-block {
        margin-top: 1em;
    }
    .winner-photo {
        margin-right: 1em;
        float: left;
        img {
            width: 150px;
        }
    }
    .award-winner {
        font-size: $base-font-size * 2;
    }
    .award-citation {
        font-size: $base-font-size * 1.25;
        margin: .25em 0 .5em 0;
    }
}