.sponsors {
  h4,
  .h4 {
    margin-top: 30px;
    font-size: 29.9px;
  }
  .video-container {
    display: table;
    width: 100%;
    margin-top: 10px;
  }
  .video {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  .video-link {
    color: #ff0000;
    transition: all .2s ease-in-out;
    &:hover {
      transform: scale(1.2);
    }
  }
  .list-inline {
    margin-bottom: 65px;
    li {
      width: 16%;
      max-width: 180px;
      margin: 13px 7px;
      @media (max-width: 767px) {
        width: 40%;
        max-width: 160px;
      }
      &.gold {
        width: 32%;
        max-width: 320px;
      }
      &.sessions {
        width: 44%;
        max-width: 440px;
      }
      &.keynote {
        width: 23%;
        max-width: 230px;
      }
      &.posters {
        width: 25%;
        max-width: 250px;
      }
      &.additional-support {
        width: 16%;
        max-width: 160px;
      }
    }
  }
  img {
    width: 100%;
    transition: $base-transition;
    filter: grayscale(1);
    &:hover {
      filter: grayscale(0);
    }
  }
}

