.team {
  h3 {
    margin-bottom: 26px;
  }
  h4 {
    margin: 50px 0 20px;
    text-align: center;
  }
  .pronouns {
    background-color: #eee;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-left: -0.15em;
  }
}
